{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Correos enviados{% endblock %}</h1>
{% endblock %}


{% block action %}
    <a class="button" href="{{ url_for('mail.create') }}">Nuevo correo</a>
{% endblock %}
{% block content %}
<ul>
    {% for mail in mails %}
    <li class="mail">
        <div>
            <span class="email">De: {{ mail['email'] }}</span>
            <hr>
            <span class="subject">Asunto: {{ mail['subject'] }}</span>
            <hr>
            <p class="mail-content">Mensaje: {{ mail['content'] }}</p>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}